<ngx-loading [show]="loading"></ngx-loading>
<div class="portlet light bordered">
  <div class="portlet-body form">
    <form class="horizontal-form">
      <div class="form-body">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-10">
              <label><strong>Solicitação de Cadastro de condomínio</strong></label>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <button type="button" class="btn dark btn-outline purple"
                        [routerLink]="['/home']">Continuar a comprar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
