<ngx-loading [show]="loading"></ngx-loading>
<div class="portlet light bordered">
  <div class="portlet-body form">
    <form class="horizontal-form">
      <div class="form-body">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-8">
              <label><strong>Perfil</strong></label>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <button type="button" class="btn dark btn-outline purple margin-right-10"
                        [routerLink]="['solicitacao-cadastro-condominio']">Solicitar Cadastro de
                  Condominio
                </button>
                <button type="button" class="btn dark btn-outline purple margin-left-10" [routerLink]="['/home']">
                  Continuar a comprar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
